### 6.8 同关系型数据库进行交互

在python中，表达行数据得标准方式是采用元组序列。例如：

In [1]:
stocks = [
    ('GOOG', 100, 490.1),
    ('AAPL', 50, 545.75),
    ('FB', 150, 7.45),
    ('HPQ', 75, 33.2)
]

In [2]:
import sqlite3
db = sqlite3.connect('database.db')
c = db.cursor()

In [3]:
c.execute('create table portfolio (symbol text, shares integer, price real)')

In [4]:
db.commit()

In [5]:
# 可以这样插入行序列
c.executemany('insert into portfolio values (?,?,?)', stocks)
db.commit()

In [6]:
# 查询操作
for row in db.execute('select * from portfolio'):
    print(row)

('GOOG', 100, 490.1)
('AAPL', 50, 545.75)
('FB', 150, 7.45)
('HPQ', 75, 33.2)

In [8]:
# 查询接受用户提供输入参数
min_price = 100
for row in db.execute('select * from portfolio where price>=?', (min_price,)):
    print(row)

('GOOG', 100, 490.1)
('AAPL', 50, 545.75)